body, html{
    height: 100%;
    background:#e5e5e5;
    font-family:arial;
}

header {
    margin-bottom: 7px;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 10px;
    background: white;
    margin:auto;
}
header img {
    width: 100%;
    height: 200px;
}

nav {
    margin-top:5px;
    margin-bottom: 7px;
}
a {
    text-decoration: none;
    color:#006086;
}
nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fefefe;
    box-shadow: 2px 2px #006086;
    transition: 0.5s;
    text-align:center
}

nav ul li {
    
    width: 247px;
    float: left;
    border-right: 2px solid #18606f;
    transition: 0.3s
}


nav ul li:hover {
    background: #87263f;
}

main {
    width: 69%;
    float: left;
    margin: 0;
    padding-left: 0;
    border: 0;
    border-radius: 5px;
    background: #fefefe;
    color: #1c5d6e;
}
main section {
    background: #18606f;
}
main section article {
    border: 1px solid #18606f;
    border-radius: 5px;
    background: white;
    background-repeat: no-repeat;
    background-size: 65px;
    background-position: right top;
    box-shadow: 2px 2px #006086;
}


aside {
    width: 29%;
    float: right;
    margin: 0;
    padding-left: 5px;
    margin-right: 5px;
    border: 0;
    border-radius: 5px;
    background: #fefefe;
    color: #1c5d6e;
    box-shadow: 2px 2px #006086;
}
aside img {
    width: 100%;
}

footer {
    width: 99%;
    float: left;
    margin-top: 7px;
    margin-bottom:10px;
    padding: 7px;
    border-radius: 5px;
    background: #fefefe;
    color: #1c5d6e;
    box-shadow: 2px 2px #006086;
    text-align: center;
}

#logo{
    
    height:250px;
}

#poza_contact{
    width:100%;
    height:200px;
}
.formular_contact{
    display:block;
    margin:0 auto;
    width:576px;
}

.formular_contact textarea{
    width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

#imagine_descriere{
    height:60px;
    margin-left:250px;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#titluContainer{
    text-align: center;
}
#descriereContainer{
    text-align: center;
}
#categorieContainer{
    text-align: center;
}
#pretContainer{
    text-align: center;
}
#cantitateContainer{
    text-align: center;
}
#imagineContainer{
    align-content: center;
}
#titluContainer2{
    text-align:center;
}
#descriereContainer2{
    text-align: center;
}
#categorieContainer2{
    text-align:center;
}
#pretContainer2{
    text-align:center;
}
#cantitateContainer2{
    text-align:center;
}
#imagineContainer2{
    align-content: center;
}
#titluContainer3{
    text-align: center;
}
#categorieContainer3{
    text-align: center;
}
#imagineContainer3{
    align-content: center;
}
#cantitateContainer3{
    text-align:center;
}